{% load static %}

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <img src="{% static 'img/ava.jpg' %}" class="rounded float-right mr-3" alt="avatar in navbar" width="150" height="50" role="img">
    <div class="col-2 mt-2 mr-5">
        <a class="navbar-brand" href="{% url 'index' %}">
            <h2>AskBudkin</h2>
        </a>
    </div>

    <div class="col-4 mr-4">
        <form class="form-inline mr-4" method="post" action="#">
            {% csrf_token %}
            <input class="form-control mr-3" style="width: 340px;" type="search" placeholder="Search..." aria-label="Search">
            <button type="submit" class="btn btn-outline-primary">Search</button>
        </form>
    </div>

    <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'ask' %}" role="button">
        Ask!
    </a>

    <div class="col-4">
        {% if request.user.is_authenticated %}
                <div class="header__user-information">
                    <div class="ml-3">
                        <div class="row">
                            <img class="rounded float-right mr-3" src="{{ request.user.profile.get_avatar_url }}" width="50" height="50" alt="Avatar">
                            <div>
                                <a href="{% url 'settings' %}" class="card-text user-settings">{{ request.user.profile.nick }}</a><br>
                                <a href="{% url 'logout' %}?next={{ request.path }}" class="card-text logout-link">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
        {% else %}
            <ul class="list-inline nav-right-corner-unauth">
                <a class="btn btn-primary" href="{% url 'signup' %}" role="button">Sign up</a>
                <a class="btn btn-primary" href="{% url 'login' %}?next={{ request.path }}" role="button">Sign in</a>
            </ul>
        {% endif %}
    </div>
</nav>
