{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block page-left %}
    <div class="content-title">
        {% if "/" in request.path %}
            <a href="{% url 'index' %}"><h4>New questions</h4></a>
            <a href="{% url 'hot' %}"><h6>Hot questions</h6></a>
        {% elif "/hot" in request.path %}
            <a href="{% url 'hot' %}"><h4>Hot questions</h4></a>
            <a href="{% url 'index' %}"><h6>New questions</h6></a>
        {% else  %}
            <div class="tag-title"><h4>Tag: {{ tag.title }}</h4></div>
        {% endif %}
    </div>

    <div class="questions">
        {% for question in page_objs %}
            {% include 'src/inc/question-item.html' %}
        {% endfor %}
    </div>

    {% include 'src/inc/pagination.html' %}
{% endblock %}

{% block scripts %} 
    <script src="{% static 'js/custom.js' %}"></script>
{% endblock %}
