{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block page-left %}
    <div class="page-left-title"><h4>Login</h4></div>

    <div class="page-left-content">
        <div class="form-errors row">
            <div class="col-sm-2"></div>
            <div class="mx-sm-3">
                {% for error in errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
        </div>

        <form class="form js-form-signup" action="{% url 'login' %}?next={{ next }}" method="post" >
            {% csrf_token %}
            <div class="form-group row">
                <label for="login" class="col-sm-2 col-form-label">Login</label>
                <div class="mx-sm-3">
                    <input type="text" name="login" class="form-control" placeholder="Enter your login" value="{{ form.data.login }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-sm-2 col-form-label">Password</label>
                <div class="mx-sm-3">
                    <input type="password" name="password" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="mx-sm-3">
                    <button type="submit" class="btn btn-success">Log in</button>
                    <div class="mt-3"><a href="{% url 'signup' %}">create new account</a></div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
