{% extends 'base.html' %}
{% load static %}

{% block title %}{{ question.title }}{% endblock %}

{% block page-left %}
    <div class="question-item">
        <div class="media text-muted pt-3 pb-2 mb-4 border-bottom border-gray">
            <div class="col-3 user-part">
                <img class="bd-placeholder-img rounded" src="{{ question.profile.get_avatar_url }}" width="150" height="150" role="img"></img>
                <div class="user-nickname">{{ question.profile.nick }}</div>
                <div class="question-date">{{ question.q_date }}</div>
            </div>
            <div class="col-8 question-part">
                <p class="media-body mb-0 small">
                    <a href="{% url 'question' pk=question.id %}"><h5><strong class="d-block text-gray-dark">{{ question.title }}</strong></h5></a>
                {{ question.text }}
                </p>
                <div class="question-tags">
                    <span>Tags:</span>
                    {% for tag in question.tags.all %}
                        <a href="{% url 'tag' slug=tag.title %}">{{ tag.title }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-1 pt-4 vote-part">
                <button id="like_question_{{ question.id }}" type="submit" onclick="vote({{ question.id }}, 1, 0)" class="btn btn-outline-success like">+</button>
                <span id="rating_question_{{ question.id }}" class="votes">{{ question.rating }}</span>
                <button id="dislike_question_{{ question.id }}" type="submit" onclick="vote({{ question.id }}, -1, 0)" class="btn btn-outline-danger dislike">-</button>
            </div>
        </div>
    </div>

    <div class="answers">
        {% for answer in page_objs %}
            {% include 'src/inc/answer-item.html' %}
        {% endfor %}
    </div>

    {% include 'src/inc/pagination.html' %}

        <div class="form-answer mt-4">
            <form class="form js-form-answer" action="{% url 'answer' pk=question.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="que_id" value="">
                <textarea class="form__answer__text" name="text" cols="80" rows="5" placeholder="Enter your answer"></textarea>
                <button type="submit" class="btn btn-success">Answer</button>
            </form>
        </div>

{% endblock %}

{% block scripts %} 
    <script src="{% static 'js/custom.js' %}"></script>
{% endblock %}