{% extends 'base.html' %}
{% load static %}

{% block title %}QTitle{% endblock %}

{% block page-left %}
    <div class="question-item">
        <div class="media text-muted pt-3 pb-2 mb-4 border-bottom border-gray">
            <div class="col-3 user-part">
                <img class="bd-placeholder-img rounded" src="{% static 'img/avatar.png' %}" width="150" height="150" role="img"></img>
                <div class="user-nickname">Profile_nick</div>
                <div class="question-date">qDate</div>
            </div>
            <div class="col-8 question-part">
                <p class="media-body mb-0 small">
                    <a href="{% url 'question' pk=question %}"><h5><strong class="d-block text-gray-dark">qTitle</strong></h5></a>
                {{ question.text }}
                </p>
                <div class="question-tags">
                    <span>Tags:</span>
                    {% for tag in question.tag.all %}
                        <a href="#">Tag-title</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-1 pt-4 vote-part">
                <button type="submit" class="btn btn-outline-success like">+</button>
                <span class="votes">Rate</span>
                <button type="submit" class="btn btn-outline-danger dislike">-</button>
            </div>
        </div>
    </div>

    <div class="answers">
        {% for answer in answers %}
            {% include 'src/inc/answer-item.html' %}
        {% endfor %}
    </div>

        <div class="form-answer">
            <form class="form js-form-answer" action="#" method="post">
                {% csrf_token %}
                <input type="hidden" name="que_id" value="">
                <textarea class="form__answer__text" name="text" cols="80" rows="5" placeholder="Enter your answer"></textarea>
                <button type="submit" class="btn btn-success">Answer</button>
            </form>
        </div>

{% endblock %}
