{% extends 'base.html' %}
{% load static %}

{% block title %}Settings{% endblock %}

{% block page-left %}
    <div class="page-left-title"><h4>Settings: {{ request.user }}</h4></div>

    <div class="page-left-content">
        <div class="form-errors row">
            <div class="col-sm-2"></div>
            <div class="mx-sm-3">
                {% for error in errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
        </div>

        <form class="form js-form-settings" action="{% url 'settings' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group row">
                <label for="login" class="col-sm-3 col-form-label">Nickname</label>
                <div class="mx-sm-3">
                    <input type="text" name="nickname" class="form-control" value="{{ form.data.nickname }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-3 col-form-label">Email</label>
                <div class="mx-sm-3">
                    <input type="text" name="email" class="form-control" value="{{ form.data.email }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="nickname" class="col-sm-3 col-form-label">Password</label>
                <div class="mx-sm-3">
                    <input type="password" name="password" class="form-control>
                </div>
            </div>
            <div class="form-group row">
                <label for="avatar" class="col-sm-3 col-form-label">Upload avatar</label>
                <div class="mx-sm-3">
                    <input type="file" name="avatar" accept="image/png, image/jpg">
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="mx-sm-3">
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
