.nav-right-corner-unauth {
    margin-top: 15px;
}

.pop-tags, .pop-users {
    border: none;
}

.page-right {
    padding-left: 30px;
}

.content-title {
    display: ruby;
}

.user-part, .vote-part {
    text-align: center;
}

.answer-part {
    font-size: 20px;
}

.dislike {
    padding-left: 14px;
    padding-right: 14px;
}

.user-nickname {
    word-break: break-all;
}

.form-errors {
    color: red;
}

.correct-box {
    display: -webkit-inline-box;
}

body {
    min-height: 75rem;
    padding-top: 7rem;
}